{{ define "main" }}
  <section class="section-list">
    <h1>Photography</h1>

    <div class="entry-list">
      {{ $pinned := where .RegularPages "Params.pinned" true }}
      {{ $others := where .RegularPages "Params.pinned" "!=" true }}

      {{ range $pinned.ByWeight }}
        <a href="{{ .RelPermalink }}" class="entry-link" >
          <article class="entry">
            <div class="entry-date">
              <time datetime="{{ .Date.Format "2006-01-02" }}">
                {{ .Date.Format "Jan 2, 2006" }}
              </time>
            </div>

            <div class="entry-body">
              <div class="entry-title">{{ .Title }}</div>
              {{ with .Params.category }}
                <div class="entry-category">{{ . }}</div>
              {{ end }}
            </div>
          </article>
        </a>
      {{ end }}

      {{ range $others.ByDate.Reverse }}
        <a href="{{ .RelPermalink }}" class="entry-link" >
          <article class="entry">
            <div class="entry-date">
              <time datetime="{{ .Date.Format "2006-01-02" }}">
                {{ .Date.Format "Jan 2, 2006" }}
              </time>
            </div>

            <div class="entry-body">
              <div class="entry-title">{{ .Title }}</div>
              {{ with .Params.category }}
                <div class="entry-category">{{ . }}</div>
              {{ end }}
            </div>
          </article>
        </a>
      {{ end }}
    </div>
  </section>
{{ end }}
