{{ define "main" }}
  <article class="single-page">
    <header class="page-header">
      <h1>{{ .Title }}</h1>

      <div class="page-meta">
        <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "Jan 2, 2006" }}</time>
      </div>
    </header>

    {{ if .Content }}
      <div class="prose">
        {{ .Content }}
      </div>
    {{ end }}

    {{ if .Params.images }}
      <div class="gallery {{ if not .Content }}no-intro{{ end }}">
      {{ range .Params.images }}
        {{ $imagePath := . }}
        {{ $imageName := path.Base $imagePath }}
        {{ $alt := or (index site.Data.image_alts $imageName) (printf "%s — image by Clément Vidon" $.Title) }}

        <picture>
          <source srcset="{{ $imagePath }}.webp" type="image/webp">
          <img
            src="{{ $imagePath }}.jpg"
            loading="lazy"
            alt="{{ $alt }}"
          >
        </picture>
      {{ end }}
      </div>
    {{ end }}
  </article>
{{ end }}
