{{ define "main" }}
  <article class="single-page">
    <header class="page-header">
      <h1>{{ .Title }}</h1>

      <div class="page-meta">
        <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "Jan 2, 2006" }}</time>
        {{ with .Params.category }}
          <span class="page-category">{{ . }}</span>
        {{ end }}
      </div>
    </header>

    {{ if .Content }}
      <div class="page-content prose">
        {{ .Content }}
      </div>
    {{ end }}

  </article>
{{ end }}
