{{ define "main" }}
  <article class="single-page">
    <header class="page-header">
      <h1>{{ .Title }}</h1>

      <div class="page-meta">
        <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "Jan 2, 2006" }}</time>
      </div>
    </header>

    {{ if .Content }}
      <div class="prose text-links">
        {{ .Content }}
      </div>
    {{ end }}

    <footer class="single-page-footer">
      <nav class="single-page-footer-links text-links" aria-label="Single page links">
        <a href="/license/">licensed CC BY-NC 4.0</a>
      </nav>
    </footer>
  </article>
{{ end }}
